.upcoming-container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.upcoming-container:hover {
    cursor: pointer;
}

.upcoming-game-container {
    display: flex;
    flex-direction: row;
    width: 30vw;
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-sliders)
}

.upcoming-game-container h3 {
    margin-left: 10px;
    width: 40%;
}

.upcoming-game-container div p {
    font-weight: lighter;
    margin-right: 10px;
}

.upcoming-container img {
    width: 125px;
    height: 100px;
    object-fit: cover;
    border-radius: 0 12px 12px 0;
    box-shadow: -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}




