.profile-flex-container {
    display: flex;
    flex-direction: row;
}

.profile-flex-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 80%;
    max-width: 1200px;
    padding: 20px;

}

.profile-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-content-container h1 {
    font-size: 2em;
    color: white;
    margin-bottom: 20px;
}

.profile-content-container h2 {
    font-size: 1.5em;
    color: white;
    margin: 20px 0;
}

.profile-content-container p {
    font-size: 1em;
    color: white;
    line-height: 1.5;
}

.favorite-games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}