.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.game-slider {
    margin-left: 50px;
    width: 600px;
    border-radius: 12px;
}

.searchBar {
    justify-self: flex-end;
}

.carousel-title {
    color: white;
    margin-left: 2.5em;
}

.upcoming-list {
    display: flex;
    flex-direction: row;
}

.flex-container-column .right {
    margin: 0 auto;
    gap: 20px;

}