.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    width: 90vw;
    gap: 40px;
}

.game-slider {
    margin-left: 50px;
    width: 800px;
    height: 300px;
    border-radius: 12px;
}

.searchBar {
    justify-self: flex-end;
}