.navbar {
    height: 100vh;
    background-color: #6F2232;
    color: #B9B9B9;
    position: sticky;
    top: 0;
}

.flex-container-nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 5vw;
    padding: 1.5rem 0;
}

.navlinks-center {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto 0 auto 0;
}

.flex-container a {
    text-decoration: none;
}

.active-menu-link svg {
    cursor: pointer;
    fill: black;
}

.default-menu-link svg {
    cursor: pointer;
    fill: #B9B9B9;
}