.navbar {
    width: 10vw;
    height: 100vh;
    background-color: #6F2232;
    color: #B9B9B9;
    position: sticky;
    top: 0;
}

.flex-container-nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-container a {
    text-decoration: none;
}

.active-menu-link {
    border-bottom: 2px solid green;
    color: green;
    cursor: pointer;
}

.default-menu-link {
    color: white;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}