.gamecard-container {
    position: relative;
    display: flex;
    background: var(--background-sliders);
    border-radius: 12px;
    color: white;
    font-size: 12px;
    height: 300px;
}

.gamecard-description:hover {
    cursor: pointer;
}

.heart-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    color: gold;
}


.gamecard-text-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    width: 100%;
}

.gamecard-text-info {
    display: flex;
    gap: 20px;
}

.gamecard-text-info span:nth-child(1) {
    width: 10rem;
}

.gamecard-img-container {
    width: 50%;
    box-shadow: -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.gamecard-img-container img {
    object-fit: cover;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
    height: 100%;

}

.detail-labels {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    height: 100%;
}

.gamecard-top {
    display: flex;
    justify-content: space-between;
}

.game-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 60%;
}

.platforms-container {
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
}

.platform-icon {
    width: 18px;
    height: auto;
    fill: white;
}

.gamecard-description {
    cursor: default;
    overflow-y: scroll;
    scrollbar-color: var(--title-color) rgba(88, 88, 88, 0.15);
    scrollbar-width: thin;
    max-height: 300px;
    min-height: 100px;
    padding-right: 20px;
    font-size: 0.9rem;
    font-weight: lighter;
}









